<div class="my-2"></div>

<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 my-2">
        @if (recipeList.Any())
        {
            @foreach (var recipe in recipeList)
            {
                <RecipeItem Recipe="@recipe" SelectedRecipeCallback="RecipeSelected" />
            }
        }
    </div>
</div>