<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Recipe Book</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-4">
                <NavLink href="/recipes" class="nav-link">
                    <h6>Recipes</h6>
                </NavLink>
            </li>
            <li class="nav-item mx-4">
                <NavLink href="/shopping-list" class="nav-link">
                    <h6>Shopping List</h6>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>